# Системные файлы MacOS
.DS_Store

# Папка зависимостей Node.js
node_modules/

# Файлы окружения
.env
.env.local

# Логи
*.log
npm-debug.log*

# IDE файлы
.vscode/
.idea/

# Временные файлы
*.tmp
*.temp
